---
layout: layout.liquid
title: img tags
---

<nav>
  <a href="/"
    ><img src="/img/sword_shield_filled_freepik.svg" class="homelink"
  /></a>
  {% for page in meta.pages %} {% if title == page %}
  <span>{{ title }}</span>
  {% else %}
  <a href="{{ page | replace: ' ', '' | prepend: '/' }}">{{ page }}</a>
  {% endif %} {% if forloop.last == false %}
  <img src="/img/shield.svg" height="15" width="20" />
  {% endif %} {% endfor %}
</nav>
{% for displayMeta in meta.src %} {% if displayMeta.pages contains title %}
<div class="outer">
  <code>&lt;img style="{{ displayMeta.containerStyle.strStyle }}"/&gt; </code>

  <div class="inner">
    <img
      src="/img/sword_shield_filled_freepik.svg"
      style="{{
        displayMeta.containerStyle.strStyle | default: 'display:auto;'
      }}"
    />
  </div>
</div>
{% endif %} {% endfor %}
