---
layout: layout.liquid
title: inline svg
---

<nav>
  <a href="{{ '/' | url }}">
    <img src="{{'/img/sword_shield_filled_freepik.svg' | url }}" class="homelink"/>
  </a>
  {% for page in meta.pages %}
    {% if title == page %}
      <span>{{ title }}</span>
    {% else %}
      <a href="{{ page | replace: ' ', '' | prepend: '/' | url }}">{{ page }}</a>
    {% endif %}
    {% if forloop.last == false %}
    <img src={{ "/img/shield.svg" | url }} class="divider" />
    {% endif %}
  {% endfor %}
</nav>

{% for displayMeta in meta.src %}
  {% if displayMeta.pages contains title %}
    <div class="outer">
      {% if displayMeta.desc %}
        <aside>{{ displayMeta.desc | default: '' }}</aside>
      {%endif%}

      <code>&lt;div style="{{ displayMeta.containerStyle.strStyle }}"&gt;<br />&lt;svg {% if displayMeta.svg.attributes %}{{ displayMeta.svg.attributes | join ' ' }} {% endif %} &gt;...<br /></code>

      <div class="inner" style="{{ displayMeta.containerStyle.strStyle | default: 'display:auto;' }}">
        <svg {% if displayMeta.svg.attributes %} {{ displayMeta.svg.attributes | join ' ' }} {% endif %} xmlns="http://www.w3.org/2000/svg">
          <g>
            <path d="m0 415.606h45v90h90v-90h45v-30h-180z" />
            <circle cx="345" cy="280.606" r="15" />
            <path
              d="m345 115.606c-90.981 0-165 74.019-165 165s74.019 165 165 165 165-74.019 165-165-74.019-165-165-165zm63.64 80.148 21.213 21.213-21.213 21.213-21.213-21.213zm-78.64-20.148h30v30h-30zm-48.64 20.148 21.213 21.213-21.213 21.213-21.213-21.213zm-41.36 69.852h30v30h-30zm41.36 99.853-21.213-21.213 21.213-21.213 21.213 21.213zm78.64 20.147h-30v-30h30zm-15-60c-24.814 0-45-20.187-45-45s20.186-45 45-45 45 20.187 45 45c0 24.814-20.186 45-45 45zm63.64 39.853-21.213-21.213 21.213-21.213 21.213 21.213zm41.36-69.853h-30v-30h30z"
            />
            <path
              d="m137.061 355.606 13.224-290.927-60.285-60.285-60.285 60.285 13.224 290.927z"
            />
          </g>
        </svg>
      </div>
    </div>
  {% endif %}
{% endfor %}
